.container {
  width: 85vw;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  z-index: 100;
  border-bottom: 1px solid #00251c;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;

    span {
      margin: 0 10px;
      color: #00ffc2;
    }
  }

  .contents {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    .name {
      font-family: Roboto;
      font-weight: bold;
      font-size: 13px;
      color: #ffffff;
      text-align: right;
      cursor: pointer;

      span {
        font-weight: 300;
        font-size: 10px;
      }
    }
  }

  .dropdown {
    .profile {
      margin: 0 10px;
      cursor: pointer;
    }

    .balance {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      margin-bottom: 5px;
    }

    .data {
      width: 160px;
      overflow: hidden;
      font-family: Poppins;
      font-style: normal;
      font-weight: 300;
      font-size: 10px;
      color: #4f766d;

      span {
        font-family: Poppins;
        font-weight: bold;
        font-size: 24px;
        color: #00ffc2;
      }
    }

    .settings {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      color: #ffffff;
      margin-top: 5px;
    }

    .dropdownContent {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      width: 180px;
      padding: 10px;
      background: linear-gradient(135.78deg, #000000 -12.33%, #001e17 75.6%);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      z-index: 1;
      right: 7.5vw;
      margin-top: 10px;
    }

    &:hover {
      .dropdownContent {
        display: block;
      }
    }
  }

  .notification {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;

    .badge {
      position: absolute;
      top: -5px;
      right: -2px;
      padding: 2px 5px;
      border-radius: 50%;
      background-color: #00ffc2;
      font-weight: 500;
      font-size: 9px;
      color: #000000;
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 90vw;
    padding: 20px 0px;
    z-index: 100;
  
    .title {
      font-size: 15px;
  
      & > svg {
        width: 30px;
      }
    }

    .dropdownContent {
      right: 5vw;
    }
  }
}