table {
  width: 100%;
  border-collapse: collapse;

  thead {
    background-color: #161616;

    th {
      padding: 10px 0;
      text-align: center;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 13px;
      color: #a9a9a9;
    }
  }

  tbody {
    td {
      padding: 10px 5px;
      text-align: center;
    }
  }

  tr {
    border-bottom: 1px solid #1c1c1c;
  }
}

.poolName,
.poolCreated {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: #00ffc2;
}

.subHeaders {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 10px;
}

.muted {
  color: #494949;
}

.actionBtn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: transparent;
  border-radius: 2px;
  margin: 0 3px;
  padding: 10px 20px;
  border: 1px solid #00ffc2;
  color: #fff;
  border-radius: 4px;
}

.activeStatus,
.pendingStatus,
.declinedStatus {
  text-transform: capitalize;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
}

.activeStatus {
  color: #00ffc2;
}

.pendingStatus {
  color: #ff8500;
}

.declinedStatus {
  color: #ff1744;
}
