body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000;
  color: #ffffff;
}

.topright {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  z-index: -1;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  z-index: -1;
}

.homeContainer {
  background: url('./../../assets/home.svg') no-repeat center center cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    margin-left: -30px;

    span {
      margin: 0 10px;
      color: #00ffc2;
    }
  }

  .description {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin: 25px auto 15px auto;
    font-family: Poppins;

    span {
      color: #00ffc2;
    }
  }

  .info {
    margin: 10px auto;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
  }

  .wallet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 20px auto 5px auto;
    padding: 15px 0px;
    position: relative;
    box-sizing: border-box;

    $border: 2px;
    color: #fff;
    background: linear-gradient(79.01deg, #252525 21.98%, #050505 80.19%),
      linear-gradient(79.01deg, #252525 21.98%, #121212 45.32%, #0b0b0b 80.19%);
    background-clip: padding-box;
    border: solid $border transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border;
      border-radius: inherit;
      background: linear-gradient(to right, #00a3ff, #00ffc2);
    }

    span {
      font-weight: 700;
      font-size: 15px;
      color: #ebebeb;
      margin-left: 10px;
      cursor: pointer;
    }
  }

  .key {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 5px auto;
    padding: 15px 0px;
    border: none;
    background: linear-gradient(79.01deg, #252525 21.98%, #050505 80.19%),
      linear-gradient(79.01deg, #252525 21.98%, #121212 45.32%, #0b0b0b 80.19%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    outline: none;

    span {
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      color: #ebebeb;
      margin-left: 10px;
    }
  }

  .text {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    margin: 20px auto 40px auto;
  }

  .line {
    border-left: 1px solid #00ffc2;
    height: 80px;
    left: 50%;
  }
}

@media screen and (max-width: 800px) {
  .homeContainer {
    .description {
      font-size: 25px;
      margin: 25px auto 15px auto;
    }
    .info {
      margin: 10px auto;
      font-size: 12px;
    }
    .wallet {
      width: 300px;
    }
    .key {
      width: 300px;
    }
  }
}
