.accountInfoContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #00251c;
  padding-bottom: 15px;

  .logo,
  .account {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .logo {
    p {
      font-size: 18px;
      line-height: 21px;
      margin-left: 15px;
      text-transform: uppercase;

      span {
        color: #00ffc2;
      }
    }
  }

  .account ul {
    list-style: none;
    display: flex;
    align-items: center;

    li {
      display: inline-block;
      margin: 0 10px;

      p {
        text-align: right;
        font-size: 13px;
        line-height: 15px;
        margin: 5px 0;
      }

      p.walletAddress {
        font-size: 10px;
        line-height: 12px;
        color: rgba(255, 255, 255, 0.6);
      }
    }

    li.notification {
      position: relative;

      span {
        font-size: 10px;
        padding: 3px;
        background-color: #00ffc2;
        border-radius: 50%;
        color: #000;
        position: absolute;
        top: -10px;
        right: -4px;
      }
    }
  }

  .connectButton {
    background-color: #00ffc2;
    color: #000;
    border-radius: 2px;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 14px;
  }
}

.linksContainer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #00251c;
  margin-bottom: 15px;

  ul {
    list-style: none;

    li {
      display: inline-block;
      margin: 0 20px;
      color: rgba(255, 255, 255, 0.6);
    }

    li.isActive {
      color: #fff;
    }
  }

  .reports {
    color: #00ffc2;
  }
}
