table {
  width: 100%;
  border-collapse: collapse;
  font-family: Poppins;

  thead {
    background-color: #161616;

    th {
      padding: 10px 0;
      text-align: center;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 13px;
      color: #a9a9a9;
    }
  }

  tbody {
    td {
      padding: 10px 5px;
      text-align: center;
    }
  }

  tr {
    border-bottom: 1px solid #1c1c1c;
  }
}

.count {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #00ffc2;
}

.timeStamp {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
}

.successColor {
  color: #00ffc2;
}

.dangerColor {
  color: #ff1744;
}

.subHeaders {
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 10px;
}

.muted {
  color: #494949;
}
