.gradeInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-family: Poppins;
}

table {
  width: 100%;
  border-collapse: collapse;

  thead {
    background-color: #161616;

    th {
      padding: 10px 0;
      text-align: center;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 13px;
      color: #a9a9a9;
    }
  }

  tbody {
    td {
      img {
        width: 50px;
      }
      padding: 10px 5px;
      text-align: center;
    }
  }

  tr {
    border-bottom: 1px solid #1c1c1c;
  }
}

.matchTeams,
.homeTeam,
.awayTeam,
.homeTeamP,
.awayTeamP,
.homeTeamPS,
.awayTeamPS {
  display: flex;
  align-items: center;
  span {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #00ffc2;
  }
}

.matchTeams {
  margin: 0px auto;
  justify-content: space-evenly;

  p {
    margin: 0px 15px;
  }
  .commonClassPS {
    width: 250px;
    display: flex;
    font-size: 12px;
    cursor: pointer;
    padding: 10px 30px;
    font-style: normal;
    font-weight: normal;
    align-items: center;
    font-family: Poppins;
    border: 1px solid #00ffc2;
    background-color: #1c1c1c;
  }

  .commonClassP {
    width: 250px;
    display: flex;
    font-size: 12px;
    cursor: pointer;
    padding: 10px 30px;
    font-style: normal;
    font-weight: normal;
    align-items: center;
    font-family: Poppins;
    background-color: #1c1c1c;
  }

  .highlightWinningTeam {
    border: 1px solid #00ffc2;
  }
}

.homeTeam,
.awayTeam,
.homeTeamP,
.awayTeamP,
.homeTeamPS,
.awayTeamPS {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  width: 250px;
  display: flex;
  align-items: center;
}

.homeTeamPS,
.awayTeamPS {
  padding: 10px 30px;
  background-color: #1c1c1c;
  // border: 1px solid #00ffc2;
  cursor: pointer;
}

// .highlightWinningTeam {
//   // padding: 10px 30px;
//   // background-color: #1c1c1c;
//   border: 1px solid #00ffc2;
//   // cursor: pointer;
// }

.homeTeam {
  justify-content: flex-end;
}

.awayTeam {
  justify-content: flex-start;
}

.homeTeamP,
.awayTeamP {
  padding: 10px 30px;
  background-color: #1c1c1c;
  cursor: pointer;
}

.resultContainer {
  border-radius: 5px;
  padding: 60px 50px;
  border: solid 1px #00ffc2;
  margin: 40px auto;
}

.addBtn {
  background: linear-gradient(0deg, #00ffc2, #00ffc2),
    linear-gradient(79.01deg, #252525 21.98%, #121212 45.32%, #0b0b0b 80.19%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100.1%;
  text-align: center;
  padding: 10px 30px;
  color: #000000;
  width: 100%;
  margin-top: 20px;
  border: none;
}
