@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }

  img {
    cursor: pointer;
    width: 20px;
  }
}

.modalTitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  color: #797979;
  border-bottom: 1px solid #00251c;
  padding-bottom: 15px;
  width: 100%;
}

.content {
  margin-top: 30px;
}

.d_none {
  display: none;
}
