.requestContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  .viewBtn {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    color: #00ffc2;
    background-color: transparent;
    border: none;
  }

  .divider {
    display: flex;
    align-items: flex-end;
    flex: 1;

    hr {
      width: 100%;
      border: solid 1px #1c1c1c;
    }
  }

  .addBtn {
    background: linear-gradient(0deg, #00ffc2, #00ffc2),
      linear-gradient(79.01deg, #252525 21.98%, #121212 45.32%, #0b0b0b 80.19%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100.1%;
    text-align: center;
    padding: 10px 30px;
    color: #000000;
    border: none;
  }
}

.resultContainer {
  border-radius: 5px;
  padding: 60px 50px;
  border: solid 1px #00ffc2;
  margin: 40px auto;

  .tabsButtonsContainer {
    display: flex;
    justify-content: flex-start;
    padding: 10px 15px;

    .tabButton {
      border: none;
      background-color: transparent;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 15px;
      color: #939393;
      padding: 10px;
      width: 15%;
      margin-bottom: 10px;
    }
  }
}

.activeTab {
  border-bottom: 1px solid #00c595 !important;
}

.matchTableSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}
