.adminPageContainer {
  padding: 0;
  margin: 0;
  max-width: 100%;

  .adminFormDiv {
    margin-top: 50px;
    text-align: center;
    .adminForm {
      //   display: grid;
      //   grid-template-columns: 75% 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px auto 0 auto;

      form {
        .textInput {
          width: 500px;
          font-size: 11px;
          font-weight: 300;
          margin: 8px auto;
          display: inline-flex;
          padding: 15px 25px;
          font-family: Poppins;
          font-style: normal;
          line-height: 11px;
          color: #ffffff;
          background-color: #050505;
          border: 1px solid #1b1b1b;
          border-radius: 2px;

          &::placeholder {
            color: #fff;
          }

          &:focus {
            background-color: #050505;
          }
        }
      }
      .addAdminBtn {
        display: inline-flex;
        white-space: nowrap;
        padding: 10px 40px;
        margin: 20px 20px;
        // width: 60%;
        background-color: #00ffc2;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 13px;
        text-align: center;
      }
    }
  }

  .allAdmins {
    border-radius: 5px;
    padding: 60px 50px;
    border: solid 1px #00ffc2;
    margin: 40px auto;

    table {
      width: 100%;
      border-collapse: collapse;

      tr {
        border-bottom: 1px solid #1c1c1c;
      }

      thead {
        background-color: #161616;

        th {
          padding: 10px 0;
          text-align: center;
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 13px;
          color: #a9a9a9;
        }
      }

      tbody {
        td {
          padding: 10px 5px;
          text-align: center;

          .adminName {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 13px;
            color: #ffffff;
          }

          .adminAddress {
            font-family: Poppins;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            color: #00ffc2;
          }
        }
      }

      .removeBtn {
        white-space: nowrap;
        padding: 10px 40px;
        margin: 20px auto;
        display: block;
        // width: 60%;
        background-color: #00ffc2;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 13px;
        text-align: center;
      }
    }

    // .subHeaders {
    //   font-family: Poppins;
    //   font-style: normal;
    //   font-weight: normal;
    //   font-size: 9px;
    //   line-height: 10px;
    // }

    // .muted {
    //   color: #494949;
    // }

    .actionBtn {
      background: linear-gradient(79.01deg, #252525 21.98%, #121212 45.32%, #0b0b0b 80.19%);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
      margin: 0 3px;
      padding: 5px;
      border: none;
    }

    .activeStatus,
    .pendingStatus,
    .declinedStatus {
      text-transform: capitalize;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;
    }

    .activeStatus {
      color: #00ffc2;
    }

    .pendingStatus {
      color: #ff8500;
    }

    .declinedStatus {
      color: #ff1744;
    }
  }
}
