table {
  width: 100%;
  border-collapse: collapse;

  thead {
    background-color: #161616;

    th {
      padding: 10px 0;
      text-align: center;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 13px;
      color: #a9a9a9;
    }
  }

  tbody {
    .leaderboardTableBodyRow {
      border-bottom: 1px solid #1c1c1c;
      @media screen and (max-width: 656px) {
        &:last-of-type {
          border-bottom: none;
        }
      }
      .leaderboardTableRowData {
        font-size: 13px;
        padding: 1rem 0.5rem;
        text-align: center;

        @media screen and (max-width: 656px) {
          padding: 1rem;
          font-size: 12px;
        }
      }
    }
    .highlightLeader {
      background-color: rgba(#00ffc2, 0.2);
    }
    td {
      img {
        width: 50px;
      }
      padding: 10px 5px;
      text-align: center;
    }
  }

  tr {
    border-bottom: 1px solid #1c1c1c;
  }
}

.bundinfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-family: Poppins;
}

.resultContainer {
  border-radius: 5px;
  padding: 60px 50px;
  border: solid 1px #00ffc2;
  margin: 40px auto;

  button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #161616;
    border: none;
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
}
